# Terraform
*.tfstate
*.tfstate.*
.terraform/
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# SSH keys
*.pem
*.pub
id_*

# OS
.DS_Store

# Env
.env

# Claude
.claude/setting.json
